In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series

In [6]:
series_obj1 = Series([2,3,4,5,6,7,8])
series_obj1

0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int64

In [12]:
series_obj2 = Series([2,3,4,7],index = ['row 1','row 2','row 3','row 4'])
series_obj2

row 1    2
row 2    3
row 3    4
row 4    7
dtype: int64

# Selecting and Retriving data from the series object

In [19]:
series_obj2['row 3'] #select data with index 0,1,2.... or using row label : row1 , row2

4

In [21]:
series_obj1[2:5] # when use slice operator : start from the index,exclude the index

2    4
3    5
4    6
dtype: int64

In [23]:
series_obj1[[2,4,6]]

2    4
4    6
6    8
dtype: int64

# DataFrame

In [34]:
np.floor(np.random.rand(36).reshape(6,6)*100)

array([[17.,  0., 61., 51., 77., 86.],
       [11., 51., 13., 57., 97., 44.],
       [79., 79., 35., 57., 34., 43.],
       [61., 46., 67., 69., 96.,  8.],
       [96., 87., 10., 82., 49., 10.],
       [18., 72., 53., 79., 94., 83.]])

In [35]:
df_obj1 = DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100))
df_obj1

      0     1     2     3     4     5
0  38.0  71.0  37.0  58.0  22.0  64.0
1  88.0  20.0  44.0  75.0   1.0  68.0
2  14.0  87.0  32.0  89.0  19.0  43.0
3  95.0  90.0  42.0   9.0  72.0  35.0
4   7.0  78.0  18.0  57.0  13.0  47.0
5  40.0  42.0  95.0  28.0  83.0  30.0

In [45]:
ind = ['row1','row2','row3','row4','row5','row6']
col = ['col1','col2','col3','col4','col5','col6']
ind

['row1', 'row2', 'row3', 'row4', 'row5', 'row6']

In [46]:
col

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [47]:
df_obj2 = DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100),index=ind,columns=col)
df_obj2

      col1  col2  col3  col4  col5  col6
row1  72.0  56.0  45.0  14.0  50.0  18.0
row2  14.0  65.0  80.0  76.0  78.0  90.0
row3  62.0  76.0  25.0  60.0  32.0  15.0
row4  98.0  73.0  80.0  77.0  47.0  51.0
row5  29.0  48.0   5.0  86.0  91.0   4.0
row6  41.0  50.0  13.0  79.0   5.0  11.0

In [53]:
df_obj2.loc['row3','col2']

76.0

In [54]:
df_obj2.loc[['row3','row4'],['col2','col3','col4']]

      col2  col3  col4
row3  76.0  25.0  60.0
row4  73.0  80.0  77.0

In [55]:
df_obj2.iloc[2,3]

60.0

In [57]:
df_obj2.loc[ : , 'col3':]

      col3  col4  col5  col6
row1  45.0  14.0  50.0  18.0
row2  80.0  76.0  78.0  90.0
row3  25.0  60.0  32.0  15.0
row4  80.0  77.0  47.0  51.0
row5   5.0  86.0  91.0   4.0
row6  13.0  79.0   5.0  11.0

# Loading from external source,csv

In [73]:
cars = pd.read_csv('mtcars.csv')

In [74]:
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [77]:
col = ['car_model','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']

In [78]:
cars.columns = col

In [79]:
cars.tail(10)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [81]:
cars.shape

(32, 12)

# filtering data

In [83]:
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [91]:
cars[cars.mpg>20] [cars.mpg<25]

C:\Users\Vedhanarayanan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [92]:
cars[(cars.mpg>20)] [(cars.mpg<25)]

C:\Users\Vedhanarayanan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [93]:
cars[(cars.mpg>30)] = np.nan

In [94]:
cars

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Valiant 2,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
8,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [96]:
cars.fillna(method='ffill')

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Valiant 2,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
8,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
18,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
19,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [97]:
cars.fillna(method='bfill')

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Valiant 2,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
8,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
18,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
19,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [99]:
cars.fillna(cars.mean())

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.000,6.0,160.000000,110.000000,3.900000,2.62000,16.460000,0.000000,1.000000,4.000000,4.000000
1,Mazda RX4 Wag,21.000,6.0,160.000000,110.000000,3.900000,2.87500,17.020000,0.000000,1.000000,4.000000,4.000000
2,Datsun 710,22.800,4.0,108.000000,93.000000,3.850000,2.32000,18.610000,1.000000,1.000000,4.000000,1.000000
3,Hornet 4 Drive,21.400,6.0,258.000000,110.000000,3.080000,3.21500,19.440000,1.000000,0.000000,3.000000,1.000000
4,Datsun 710,22.800,4.0,108.000000,93.000000,3.850000,2.32000,18.610000,1.000000,1.000000,4.000000,1.000000
5,Valiant,18.100,6.0,225.000000,105.000000,2.760000,3.46000,20.220000,1.000000,0.000000,3.000000,1.000000
6,Duster 360,14.300,8.0,360.000000,245.000000,3.210000,3.57000,15.840000,0.000000,0.000000,3.000000,4.000000
7,Valiant 2,18.100,6.0,225.000000,105.000000,2.760000,3.46000,20.220000,1.000000,0.000000,3.000000,1.000000
8,Valiant,18.100,6.0,225.000000,105.000000,2.760000,3.46000,20.220000,1.000000,0.000000,3.000000,1.000000
9,Merc 280,19.200,6.0,167.600000,123.000000,3.920000,3.44000,18.300000,1.000000,0.000000,4.000000,4.000000
10,Merc 280C,17.800,6.0,167.600000,123.000000,3.920000,3.44000,18.900000,1.000000,0.000000,4.000000,4.000000
11,Merc 450SE,16.400,8.0,275.800000,180.000000,3.070000,4.07000,17.400000,0.000000,0.000000,3.000000,3.000000
12,Merc 450SL,17.300,8.0,275.800000,180.000000,3.070000,3.73000,17.600000,0.000000,0.000000,3.000000,3.000000
13,Merc 450SLC,15.200,8.0,275.800000,180.000000,3.070000,3.78000,18.000000,0.000000,0.000000,3.000000,3.000000
14,Cadillac Fleetwood,10.400,8.0,472.000000,205.000000,2.930000,5.25000,17.980000,0.000000,0.000000,3.000000,4.000000
15,Lincoln Continental,10.400,8.0,460.000000,215.000000,3.000000,5.42400,17.820000,0.000000,0.000000,3.000000,4.000000
16,Chrysler Imperial,14.700,8.0,440.000000,230.000000,3.230000,5.34500,17.420000,0.000000,0.000000,3.000000,4.000000
17,NaN,18.175,6.5,249.035714,156.035714,3.453571,3.40175,17.696429,0.392857,0.357143,3.571429,2.892857
18,NaN,18.175,6.5,249.035714,156.035714,3.453571,3.40175,17.696429,0.392857,0.357143,3.571429,2.892857
19,NaN,18.175,6.5,249.035714,156.035714,3.453571,3.40175,17.696429,0.392857,0.357143,3.571429,2.892857
20,Toyota Corona,21.500,4.0,120.100000,97.000000,3.700000,2.46500,20.010000,1.000000,0.000000,3.000000,1.000000
21,Dodge Challenger,15.500,8.0,318.000000,150.000000,2.760000,3.52000,16.870000,0.000000,0.000000,3.000000,2.000000
22,AMC Javelin,15.200,8.0,304.000000,150.000000,3.150000,3.43500,17.300000,0.000000,0.000000,3.000000,2.000000
23,Camaro Z28,13.300,8.0,350.000000,245.000000,3.730000,3.84000,15.410000,0.000000,0.000000,3.000000,4.000000
24,Pontiac Firebird,19.200,8.0,400.000000,175.000000,3.080000,3.84500,17.050000,0.000000,0.000000,3.000000,2.000000
25,Fiat X1-9,27.300,4.0,79.000000,66.000000,4.080000,1.93500,18.900000,1.000000,1.000000,4.000000,1.000000
26,Porsche 914-2,26.000,4.0,120.300000,91.000000,4.430000,2.14000,16.700000,0.000000,1.000000,5.000000,2.000000
27,NaN,18.175,6.5,249.035714,156.035714,3.453571,3.40175,17.696429,0.392857,0.357143,3.571429,2.892857
28,Ford Pantera L,15.800,8.0,351.000000,264.000000,4.220000,3.17000,14.500000,0.000000,1.000000,5.000000,4.000000
29,Ferrari Dino,19.700,6.0,145.000000,175.000000,3.620000,2.77000,15.500000,0.000000,1.000000,5.000000,6.000000
30,Maserati Bora,15.000,8.0,301.000000,335.000000,3.540000,3.57000,14.600000,0.000000,1.000000,5.000000,8.000000
31,Volvo 142E,21.400,4.0,121.000000,109.000000,4.110000,2.78000,18.600000,1.000000,1.000000,4.000000,2.000000

In [100]:
cars.dropna()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Valiant 2,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
8,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

# Removing Duplicates

In [104]:
df_dup = DataFrame({'col1':[1,2,2,3,3,3,4],'col2':['a','b','b','c','c','c','d'],'col3':['A','B','B','C','C','C','D']})
df_dup

   col1 col2 col3
0     1    a    A
1     2    b    B
2     2    b    B
3     3    c    C
4     3    c    C
5     3    c    C
6     4    d    D

In [106]:
df_dup.duplicated()

0    False
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [107]:
df_dup.drop_duplicates()

   col1 col2 col3
0     1    a    A
1     2    b    B
3     3    c    C
6     4    d    D